<% if user_signed_in? %>
<script>
	location.href = "/fields/index"
</script>
<% end %>

<div class="body">
<div class="container">
  <div class="login-box2">
  	<h2> 당신을 위한 습관 도우미! </h2>
	<h1> "리틀빅"입니다! </h1>
	
	<div class="btn-wrapper">
		<a href="/users/sign_in" class="btn btn-start">시작하기</a>
	</div>
	</div>
  </div>
</div>



