<% temp = Check.where(check_date: Time.current, user_id: current_user.id) %>

<% betas = User.where(id: current_user) %> 
           <h4><%= betas&.first&.name %>님의</h4><br><br>
           

오늘의 달성률은 <br>
<h1><%= number_to_percentage(temp.count.to_f/@daygoal_count*100, precision: 0) %></h1><br>
오늘의 목표달성 개수는 <br>
<h1><%= temp.count %>개</h1><br>
입니다!
<br><br>
<a href="/checks/monthly">
<button type="button" class="btn btn-primary btn-lg">주간/월간 달성보기</button>
</a>
